html
    head
        title= todolistClient

        script(src="https://cdn.socket.io/socket.io-1.4.5.js")
        script#sap-ui-bootstrap(src="https://openui5.hana.ondemand.com/1.34.11/resources/sap-ui-core.js",data-sap-ui-libs="sap.m",data-sap-ui-theme="sap_bluecrystal",data-sap-ui-compatVersion="edge",data-sap-ui-resourceroots='{"com.henryzhefeng": ""}')
        script(type="text/javascript",src="socket.io/socket.io.js")
        script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/core-js/2.1.4/core.min.js")
        script(type="text/javascript",src="//unpkg.com/feathers-client@^1.0.0/dist/feathers.js")
        script.
            // initial socketio
            var socket = io(window.location.protocol + "//" + window.location.hostname + (window.location.port ? ":" + window.location.port : ""));
        script.
            sap.ui.getCore().attachInit(function() { 
                new sap.m.Shell({ 
                    app: new sap.ui.core.ComponentContainer({ height : "100%", name : "com.henryzhefeng" }) }).placeAt("content"); 
            }); 
    body.sapUiBody#content
